body{
  background-color: #ddd;
  font-family: 'Fjalla One', sans-serif;
}

header {

}

h3{
  padding-top: 15px;
  padding-bottom: 15px;
}

#title{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

#navbar{
  text-align: center;
  background-color: #eee;
  height: 60px;
  margin: auto;
  padding: 20px 0;
}
#navbar ul{
  display: block;

}
#navbar li{
  display: inline-block;
}

#navbar a{
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: #727272;
}

#navbar a:hover{
  background-color: #444;
  color: #eee;
  font-weight: bold;
}

#main{
  margin-top: 20px;
  padding: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#section-who{
  padding-top: 40px;
  padding-bottom: 40px;
}

#section-what{
  padding-top: 40px;
  padding-bottom: 40px;
}

#img-div{

}

#image{
  display: block;
  margin: auto;
  width: 350px;
  height: 350px;
}

#tribute-info{
  padding: 15px 80px 15px 80px;
}

#section-vid{
  padding-top: 40px;
  padding-bottom: 40px;
}

#vid{
  text-align: center;
}

footer{
  text-align: center;
  display: block;
  margin: auto;

  padding: 70px 100px;
}
